.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: transparent;
  border-bottom: 3px solid;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.nav-img{
  margin-bottom: -1px;
}

.btn.btn-lg , .btn.btn-sm , .btn.btn-md{
  background: linear-gradient( 183deg , #f7f7f7, #eaeaea);
    padding: 7px;
    height: 3rem;
    border: 1px solid #f7f7f7;
}

.create-form .form-group{
  justify-content: inherit;
}

.intropara{
  width: auto;
}
.custom-height{
    height: 42vh;
    margin-bottom: 100px;
}